* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 65%;
}

body {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 780px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

main {
  margin-top: 4rem;
  background-color: rgb(179, 179, 179);
  font-size: 4rem;
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
  gap: 2rem;
  width: 40rem;
  margin: 0 auto;
  margin-top: 4rem;
}

main,
.screen,
button {
  border-radius: 1rem;
  border: 1px solid black;
}

.screen {
  background-color: white;
  height: 10rem;
  width: 35rem;
  text-align: right;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.result {
  font-size: 1.8rem;
}

.main {
  font-size: 3rem;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

button#ac,
button#c {
  width: 16.7rem;
}

button#ac {
  background-color: rgb(224, 144, 144);
}

button#ac:hover {
  background-color: rgb(212, 136, 136);
}
button#ac:active {
  background-color: rgb(201, 129, 129);
}

button#c {
  background-color: rgb(155, 190, 225);
}
button#c:hover {
  background-color: rgb(145, 178, 211);
}
button#c:active {
  background-color: rgb(137, 168, 199);
}

button {
  padding: 2rem;
  cursor: pointer;
}

#btn {
  padding: 3rem;
  height: 5rem;
  width: 7.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#btn:hover {
  background-color: rgb(204, 204, 204);
}
#btn:active {
  background-color: rgb(184, 184, 184);
}

footer {
  font-size: 2rem;
  margin-top: 5rem;
}
